{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="themexriver" />

    <!-- Page Title -->
    <title>ITAU Auditors and DPA Ltd</title>

    <!-- Favicon and Touch Icons -->
    <link href={% static "assets/images/favicon/favicon.png" %} rel="shortcut
    icon" type="image/png" /> <link href={% static
    "assets/images/favicon/apple-touch-icon-57x57.png" %} rel="apple-touch-icon"
    sizes="57x57" /> <link href={%
    static"assets/images/favicon/apple-touch-icon-72x72.png" %}
    rel="apple-touch-icon" sizes="72x72" /> <link href={%
    static"assets/images/favicon/apple-touch-icon-114x114.png" %}
    rel="apple-touch-icon" sizes="114x114" /> <link href={% static
    "assets/images/favicon/apple-touch-icon-144x144.png" %}
    rel="apple-touch-icon" sizes="144x144" />

    <!-- Icon fonts -->
    <link href={% static "assets/css/font-awesome.min.css" %} rel="stylesheet"
    /> <link href={% static "assets/css/flaticon.css" %} rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href={% static "assets/css/bootstrap.min.css" %} rel="stylesheet" />

    <!-- Plugins for this template -->
    <link href={% static "assets/css/animate.css" %} rel="stylesheet" /> 
    <link
    href={% static "assets/css/owl.carousel.css" %} rel="stylesheet" /> <link
    href={% static "assets/css/owl.theme.css" %} rel="stylesheet" /> <link
    href={% static "assets/css/slick.css" %} rel="stylesheet" /> 
    <link href={% static "assets/css/slick-theme.css" %} rel="stylesheet" /> 
    <link href={% static "assets/css/owl.transitions.css" %} rel="stylesheet" /> 
    <link href={% static "assets/css/jquery.fancybox.css" %} rel="stylesheet" />
     <link href={% static "assets/css/jquery.mCustomScrollbar.min.css" %} rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href={% static "assets/css/style.css" %} rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <style>
      .goog-te-banner-frame.skiptranslate { display: none !important; }
      body { top: 0px !important; }
  </style>
  </head>

  <body>
    
    <!-- start page-wrapper -->
    <div class="page-wrapper">
      <!-- start preloader -->
      <div class="preloader">
        <div class="preloader-inner">
          <img src={% static "assets/images/preloader.gif" %} alt />
        </div>
      </div>
      <!-- end preloader -->

      <!-- Start header -->
      <header id="header" class="site-header header-style-5">
        <div class="topbar topbar-style-2">
          <div class="container">
            <div class="row">
              <div class="col col-sm-7">
                <div class="topbar-contact-info-wrapper">
                  <div class="topbar-contact-info">
                    <div>
                      <i class="fa fa-location-arrow"></i>
                      <div class="details">
                        <p>{{topHeader.street_address}}</p>
                      </div>
                    </div>
                    <div>
                      <i class="fa fa-phone"></i>
                      <div class="details">
                        <p>{{topHeader.phone}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-sm-5">
                <div class="social">
                  <span>Follow: </span>
                  <ul class="social-links">
                    <li>
                      
                      <a href="{{ topHeader.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                     
                    </li>
                    <li>
                      
                      <a href="{{ topHeader.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                      
                    </li>
                    <li>
                       <a href="{{ topHeader.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="{{ topHeader.pinterest }}" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                       <a href="{{ topHeader.rss }}" target="_blank"><i class="fa fa-rss"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="language">
                  <button id="langToggle" class="btn-lang">ENG</button>
                  <div id="google_translate_element" ></div> 
                   <!-- style="display:none;" -->
              </div>
              </div>
            </div>
          </div>
          <!-- end container -->
        </div>
        <!-- end topbar -->

        <div class="lower-topbar">
          <div class="container">
            <div class="row">
              <div class="col col-sm-3">
                <div class="site-logo">
                  <img src="{{ topHeader.logo.url }}" alt="Logo" >
                </div>
              </div>
              <div class="col col-sm-9">
                <div class="awards">
                  <div>
                    <div class="icon"><i class="fi flaticon-title"></i></div>
                    <div class="award-info">
                      <h4>BNR accredited</h4>
                      <p>Consulting Company</p>
                    </div>
                  </div>
                  <!-- <div>
                    <div class="icon"><i class="fi flaticon-medal"></i></div>
                    <div class="award-info">
                      <h4>World 1St</h4>
                      <p>Consulting company</p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end lower-topbar -->

        <nav class="navigation navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse navigation-holder">
              <button class="close-navbar"><i class="fa fa-close"></i></button>
              
              <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                
                <li class="menu-item-has-children">
                  <a href="#">About</a>
                  <ul class="sub-menu">
                      <li><a href="{% url 'about_us' %}">Itau auditors & dpa ltd </a></li>
                      <li><a href="{% url 'about_itau_auditors' %}">Itau auditors ltd</a></li>
                  </ul>
              </li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact_us' %}">Contact</a></li>
                <li><a href="{% url 'careers' %}">Careers</a></li>
              </ul>
            </div>
            <!-- end of nav-collapse  cart removed -->
            <a href="{% url 'schedule' %}" class="theme-btn-s2 request-quote">Schedule Meet</a> 
          </div>
          
          <!-- end of container -->
        </nav>
        
        <!-- end navigation -->
      </header>
      <!-- end of header -->


    <!-- start of hero slider -->
<section class="hero hero-slider-wrapper">
  <div class="hero-slider hero-slider-style-1">
    <!-- Slide 1: Welcome Message -->
    <div class="slide">
      <img src="{% static 'assets/images/slider/slide-1.jpg' %}" alt class="slider-bg" />
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 col-sm-9 slide-caption">
            <h2>
              Welcome to <span>ITAU AUDITORS & DPA LTD</span>
            </h2>
            <p>
              We are dedicated to providing exceptional <span>audit</span>, <span>accounting</span>, <span>tax advising</span>, and <span>consultancy</span> services. Explore how we can support your business growth and compliance needs.
            </p>
            <div class="btns">
              <a href="#" class="theme-btn">About Us</a>
              <a href="#" class="theme-btn-s2">Explore Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2: Consulting Services -->
    <div class="slide">
      <img src="{% static 'assets/images/slider/slide-2.jpg' %}" alt class="slider-bg" />
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 col-sm-9 slide-caption">
            <h2>
               <span>Consulting</span> Services
            </h2>
            <p>
              Discover our comprehensive consulting services including baseline surveys, project monitoring, socio-economic studies, and gender profiles.
            </p>
            <div class="btns">
              <a href="#" class="theme-btn">Learn More</a>
              <a href="#" class="theme-btn-s2">Our Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3: Tax Advising -->
    <div class="slide">
      <img src="{% static 'assets/images/slider/slide-3.jpg' %}" alt class="slider-bg" />
      <div class="container">
        <div class="row">
          <div class="col col-lg-8 col-sm-9 slide-caption">
            <h2>
               Financial Consultancy Services and <span>Tax Advisory </span>
            </h2>
            <p>
              Benefit from strategic tax advising and financial consultancy tailored to optimize your business strategies and ensure compliance.
            </p>
            <div class="btns">
              <a href="#" class="theme-btn">Explore Services</a>
              <a href="#" class="theme-btn-s2">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of hero slider -->


      <!-- start of services -->
      <section class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col col-lg-3 col-md-4">
              <div class="section-title">
                <h2>Our services</h2>
              </div>
            </div>
            <div class="col col-lg-6 col-md-5">
              <p>
                Providing expert audit, assurance, accounting, finance, tax, financial advisory, training, and consulting services to drive your business's success and growth with professionalism and dedication."
              </p>
            </div>
            <div class="col col-lg-3 col-md-3">
              <div class="all-service-link">
                <a href="{% url 'services' %}" class="theme-btn">All services</a>
              </div>
            </div>
          </div>
          <!-- end row -->

          <div class="row">
    <div class="col col-xs-12">
        <div class="services-grids service-slider dots-s1">
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-1.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'auditAndAssurance' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Audit & Assurance Services
                                </h3>
                            </a>
                            <p>
                                At ITAU AUDITORS & DPA LTD, we deliver independent, high-quality audits and assurance services. Our approach goes ..
                            </p>
                            <a href="{% url 'auditAndAssurance' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-2.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'accountingAndFinance' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Accounting and Financial Services
                                </h3>
                            </a>
                            <p>
                               ITAU AUDITORS & DPA LTD offers clients comprehensive outsourced accounting services ranging from bookkeeping to ..
                            </p>
                            <a href="{% url 'accountingAndFinance' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-3.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'taxAdvisory' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Tax Advisory Services
                                </h3>
                            </a>
                            <p>
                                ITAU AUDITORS & DPA LTD Ltd offers broad tax solutions that enhance tax planning and full compliance. Our tax experts make an ..
                            </p>
                            <a href="{% url 'taxAdvisory' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-4.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'financialAdvisory' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Financial Advisory Services
                                </h3>
                            </a>
                            <p>
                                ITAU AUDITORS & DPA LTD Ltd offers sharpened financial advisory backed by thorough financial and non-financial ..
                            </p>
                            <a href="{% url 'financialAdvisory' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-5.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'training' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Corporate Trainings
                                </h3>
                            </a>
                            <p>
                                ITAU AUDITORS & DPA LTD Ltd is the premier provider of staff capacity development services, offering both in-house training and workshop ..
                            </p>
                            <a href="{% url 'training' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-6.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'managementConsulting' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i>Management Consulting services
                                </h3>
                            </a>
                            <p>
                                ITAU AUDITORS & DPA LTD Ltd invites you to experience our consultancy services for your growth. Our experts design manuals ..
                            </p>
                            <a href="{% url 'managementConsulting' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="inner mk-bg-img">
                    <div class="details">
                        <div class="info">
                            <img
                                src="{% static 'assets/images/services/img-7.jpg' %}"
                                alt
                                class="bg-image"
                            />
                            <a href="{% url 'corporateSocialResponsibility' %}">
                                <h3>
                                    <i class="fi flaticon-construction"></i> Corporate Social Responsibility
                                </h3>
                            </a>
                            <p>
                                At ITAU AUDITORS & DPA LTD Ltd, we are committed to making a positive impact on society through our Corporate Social ..
                            </p>
                            <a href="{% url 'corporateSocialResponsibility' %}" class="more">Get Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end services-grids -->
    </div>
    <!-- end col -->
</div>

          <!-- end row -->
        </div>
        <!-- end container -->
      </section>
      <!-- end of services -->

      <!-- start offer -->
<section class="section-padding offer-section">
  <div class="container">
    <div class="row">
      <div class="col col-md-5">
        <div class="section-title-s3">
          <h2>{{ about_us.title }}</h2>
        </div>
        <div class="offer-text">
          <p>{{ about_us.description | linebreaks }}</p>
          <a href="{% url 'services' %}" class="theme-btn read-more">Read More</a>
          <a href="{% url 'about_us' %}" class="theme-btn-s2 read-more">Company history</a>
        </div>
      </div>
      <div class="col col-md-7">
        <div class="offer-pic">
          <img src="{{ about_us.image.url }}" alt="{{ about_us.title }}" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end offer -->

      <!-- start cta -->
      <section
        class="cta section-padding parallax"
        data-bg-image={% static "assets/images/cta-bg.jpg" %}
      >
        <div class="container">
          <div class="row">
            <div class="col col-xs-12">
              <h2>
                Our one and only priority is the
                <span>customer satisfaction</span>
              </h2>
              <a href="{% url 'contact_us' %}" class="theme-btn-s5">Contact Us</a>
            </div>
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end cta -->

      <!-- start features -->
      <section class="features section-padding">
        <div class="container">
          <div class="row">
            <div class="col col-md-3">
              <div class="features-title">
                <h2>Why we are best</h2>
                <p>
                   Excelling in auditing and consulting services, we continuously improve to meet client needs.
                </p>
              </div>
            </div>
            
            {% for feature in features %}
  <div class="col col-md-3 col-sm-4">
    <div class="feature-grid">
      <div class="icon">
        <i class="{{ feature.icon_class }}"></i>
      </div>
      <div class="details">
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
        <a href="#" class="more">Details <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
          </div>
        </div>
        <!-- end container -->
      </section>
      <!-- end features -->

       <!-- start testimonials -->
<section class="testimonials section-padding parallax" data-bg-image="{% static 'assets/images/testimonials/bg.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <!-- <div class="testimonials-slider slider-arrow-s1">
          {% for testimonial in testimonials %}
          <div class="slide-item">
            <div class="inner">
              <div class="client-quote">
                <p>{{ testimonial.description }}</p>
              </div>
              <div class="client-details">
                <div class="client-pic">
                  <img src="{{ testimonial.image.url }}" alt="{{ testimonial.client_name }}">
                </div>
                <div class="client-info">
                  <h4>{{ testimonial.client_name }}</h4>
                  <span>{{ testimonial.job_title }}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- end testimonials -->

      <!-- start partners -->
<!-- <section class="section-padding partners">
  <h2 class="hidden">Partners</h2>
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div class="partners-slider">
          {% for partner in partners %}
            <div class="grid">
              {% if partner.logo %}
                <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" />
              {% else %}
                <img src="{% static 'assets/images/partners/default.png' %}" alt="Default Partner Logo" />
              {% endif %}
            </div>
          {% empty %}
            <p>No partners available at the moment.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  
</section> -->
<!-- end partners -->

      <!-- start contact-section -->
      <section
        class="contact-section section-padding parallax"
        data-bg-image={% static "assets/images/contact-section-bg.jpg" %}
      >
        <div class="container">
          <div class="row">
            <div class="col col-md-4 col-md-offset-1 col-md-5">
              <div class="contact-section-contact-box">
                <div class="section-title-white">
                  <h2>Contact</h2>
                </div>
               <div class="details">
    <p>
        For any kind of query, contact us with the details below.
    </p>
    <ul>
        <li><i class="fa fa-phone"></i> {{ topHeader.phone }}</li>
        <li><i class="fa fa-envelope"></i> {{ topHeader.email }}</li>
        <li>
            <i class="fa fa-home"></i> {{ topHeader.street_address }}
        </li>
    </ul>
</div>

              </div>
            </div>

            <div class="col col-lg-6 col-lg-offset-1 col-md-7">
              <div class="section-title-white">
                <h2>Request a quote</h2>
              </div>
              <p>
                Contact us for consultation and service inquiries. Specializing in audit and assurance, with expert members in ROPC and ICPAR.
              </p>

              <div class="contact-form-s1 form">
                <form
                action="https://api.web3forms.com/submit" method="POST"
                  id="contact-form"
                  class="wpcf7-form contact-validation-active"
                >

                 <!-- Replace with your Access Key -->
                 <input type="hidden" name="access_key" value="ea0df28c-3bb5-4754-943f-9235ef2d018a">
                    
                 <!-- Add hidden input for required redirect URL -->
                 <input type="hidden" name="redirect" value="http://itauauditorsltd.com">
                  <div>
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name" />
                  </div>
                  <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" />
                  </div>
                  <div>
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" />
                  </div>
                 <div>
    <label>Business Type</label>
    <select name="select">
        <option selected disabled>-- Select One --</option>
        <option value="Accounting Services">Accounting Services</option>
        <option value="Financial Advisory">Financial Advisory</option>
        <option value="IT Consultancy">IT Consultancy</option>
        <option value="Marketing Agency">Marketing Agency</option>
        <option value="Legal Services">Legal Services</option>
        <option value="Healthcare Services">Healthcare Services</option>
        <option value="Construction Company">Construction Company</option>
        <option value="Retail Store">Retail Store</option>
        <option value="Restaurant">Restaurant</option>
        <option value="Travel Agency">Travel Agency</option>
        <option value="Travel Agency">Other</option>
    </select>
</div>

                  <div class="submit-btn-wrap">
                    <input
                      value="Submit"
                      class="theme-btn wpcf7-submit"
                      type="submit"
                    />
                    <div id="loader">
                      <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                    </div>
                  </div>
                  <div class="error-handling-messages">
                    <div id="success">Thank you</div>
                    <div id="error">
                      Error occurred while sending email. Please try again
                      later.
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
        <div class="contact-women wow fadeInLeft">
          <img src={% static "assets/images/contact-women.png" %} alt />
        </div>
      </section>
      <!-- end contact-section -->

      <!-- news-section -->
      <section class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col col-lg-3 col-md-4">
              <div class="section-title">
                <h2>Recent news</h2>
              </div>
            </div>
            <div class="col col-lg-6 col-md-5">
              <p>
                   Stay updated with the latest insights and industry trends. Our news section covers important developments in audit, consultancy, and financial advisory services across Rwanda and East Africa.
              </p>
            </div>
            <div class="col col-lg-3 col-md-3">
              <div class="all-news-link">
                <a href="{% url 'blog' %}" class="theme-btn">More News</a>
              </div>
            </div>
          </div>
          <!-- end row -->

         <div class="row">
    <div class="col col-xs-12">
        <div class="news-grids">
            {% for post in posts %}
          <div class="grid">
            <div class="entry-media">
              <img src="{{ post.image.url }}" alt="{{ post.title }}" />
            </div>
            <div class="entry-details">
              <div class="entry-meta">
                <ul>
                  <li><i class="fa fa-clock-o"></i>{{ post.date|date:"d M, Y"  }}</li>
                  <li>
                    <i class="fa fa-thumbs-up"></i>
                    <a href="{% url 'like_post' post.id %}">{{ post.likes }} Likes</a>
                  </li>
                </ul>
              </div>
              <div class="entry-body">
                <h3><a href="{% url 'single_blog' post.id %}">{{ post.title }}</a></h3>
                 <p>{{ post.description|truncatewords:10 }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

        </div>
        <!-- end container -->
      </section>
      <!-- end news-section -->

      <!-- start site-footer -->
      <footer class="site-footer">
        <div class="upper-footer">
          <div class="container">
            <div class="row">
              <div class="col col-md-3 col-sm-6">
                <div class="widget about-widget">
                  <div class="footer-logo">
        <img src="{{ topHeader.logo_two.url }}" alt="Secondary Logo" />
    </div>
                  <ul class="contact-info">
    <li>
        <i class="fa fa-home"></i> {{ topHeader.street_address }}
    </li>
    <li>
        <i class="fa fa-phone"></i> {{ topHeader.phone }}
    </li>
    <li>
        <i class="fa fa-clock-o"></i> Working Hours: <br />{{ topHeader.working_hours|linebreaksbr }}
    </li>
</ul>

                </div>
              </div>

              <div class="col col-md-3 col-sm-6">
                <div class="widget service-links-widget">
                  <h3>Services</h3>
                  <ul>
  <li><a href="{% url 'auditAndAssurance' %}">Audit & Assurance</a></li>
  <li><a href="{% url 'accountingAndFinance' %}">Accounting & Finance</a></li>
  <li><a href="{% url 'taxAdvisory' %}">Tax Advisory</a></li>
  <li><a href="{% url 'financialAdvisory' %}">Financial Advisory</a></li>
  <li><a href="{% url 'training' %}">Corporate Training</a></li>
  <li><a href="{% url 'managementConsulting' %}">Management Consulting</a></li>
  <li><a href="{% url 'corporateSocialResponsibility' %}">Corporate Social Responsibility</a></li>
</ul>

                </div>
              </div>

              <div class="col col-md-3 col-sm-6">
                <div class="widget quick-links-widget">
                 <h3>Navigation</h3>
<ul>
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'about_us' %}">About</a></li>
  <li><a href="{% url 'services' %}">Services</a></li>
  <li><a href="{% url 'careers' %}">Careers</a></li>
  <li><a href="{% url 'schedule' %}">Schedule</a></li>
</ul>
<ul>
  <li><a href="#">Gallery</a></li>
  <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
  <li><a href="#">Privacy Policy</a></li>
</ul>

                </div>
              </div>

              <div class="col col-md-3 col-sm-6">
                <div class="widget twitter-feed-widget">
                 <h3>ITAU AUDITORS & DPA LTD</h3>
<ul>
  <li>
    <div class="text">
      <p>
        Experts in audit and consultancy since 2006. Serving Rwanda and beyond with tailored solutions. #ITAU_AUDITORS_DPA_LTD
      </p>
    </div>
    <div class="info-box">
      <i class="fa fa-twitter"></i>
      <strong><a href="#">@ITAU_AUDITORS_DPA_LTD</a></strong>
    </div>
  </li>
  <li>
    <div class="text">
      <p>
        Trusted consultancy driving success in public and private sectors. Discover our solutions today! #ConsultingExcellence
      </p>
    </div>
    <div class="info-box">
      <i class="fa fa-twitter"></i>
      <strong><a href="#">@ITAU_AUDITORS_DPA_LTD</a></strong>
    </div>
  </li>
</ul>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end upper-footer -->
        <div class="copyright-info">
    <div class="container">
      <p>
        &copy; <span id="current-year"></span> ITAU AUDITORS & DPA LTD. All rights reserved.
      </p>
    </div>
  </div>
  <script>
    document.getElementById('current-year').textContent = new Date().getFullYear();
  </script>
      </footer>
      <!-- end site-footer -->
    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
    <script src={% static "assets/js/jquery.min.js" %}></script>
    <script src={% static "assets/js/bootstrap.min.js" %}></script>

    <!-- Plugins for this template -->
    <script src={% static "assets/js/jquery-plugin-collection.js" %}></script>
    <script src={% static "assets/js/jquery.mCustomScrollbar.js" %}></script>

    <!-- Custom script for this template -->
    <script src={% static "assets/js/script.js" %}></script>




 
    <!-- Custom Translate Script -->
    <script src={% static "assets/js/language.js" %}></script>


    

 
    
   

  </body>
</html>
